{{!-- Llamada a cada archivo partial (código parcial) --}}
{{> header }}
    {{> navbar }} 

    <div class="jumbotron">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">Hola, {{ capitalize 'luisA mAríA bAzAlAr' }}!</p>
        <hr class="my-4">
        <p>Hemos implementado jQuery & Bootstrap de forma clásica, colocando dichos archivos dentro del directorio público establecido en el WebServer para que estén públicos y disponibles para su uso desde cualquier parte del proyecto.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </div>

{{> footer }}
